**/bin/
**/obj/
**/node_modules/
**/dist/
**/.vite/
**/.nuxt/
**/.next/
**/coverage/
.git/
.vs/
.idea/
.vscode/
.dotnet-home/
.nuget/
.npm-cache/
.appdata/
.userprofile/
TestResults/
*.user
*.suo
*.nupkg
